.video {
  width: 100%;
  height: 100%;
  object-fit: cover ;
  pointer-events: none;
}

.video::-webkit-media-controls, 
.video::-moz-media-controls,
.video::-o-media-controls, 
.video::-ms-media-controls {
  display: none; 
}

.overlay {
  position: absolute;
  inset: 0;
  background-color:  rgb(0 0 0 / 30%);
}